<% provide(:title, "Order | #{@id}") %>
<%
    price = number_with_precision(@order.price, precision: 2)
%>
<h2 class="ui center aligned header">
    <div class="content">
        <%= @id %>
        <div class="sub header" title="">&#x20B1;<%= price %></div>
    </div>
</h2>

<h3 class="ui header">
  Details
</h3>
<div class="ui basic fitted segment">
    <div class="ui list">
        <div class="item">
            <div class="header">Identifier</div>
            <%= @order.identifier %>
        </div>
    </div>
    <div class="ui very relaxed horizontal list">
        <div class="item">
            <div class="header">Date Placed</div>
            <%= @order.created_at.to_formatted_s(:long) %>
        </div>
        <div class="item">
            <div class="header">Total</div>
            &#x20B1;<%= price %>
        </div>
    </div>
    <div class="ui list">
        <div class="item">
            <div class="header">Kiosk</div>
            <%= @order.kiosks %>
        </div>
    </div>
</div>

<h3 class="ui header">
  Recipient
</h3>
<div class="ui basic fitted segment">
    <div class="ui list">
        <div class="item">
            <div class="header">Name</div>
            <%= @order.user.full_name %>
        </div>
    </div>
    <div class="ui list">
        <div class="item">
            <div class="header">Address</div>
            <%= @order.address.full %>
        </div>
    </div>
</div>

<h3 class="ui header">
  Purchases
</h3>
<div class="ui basic fitted segment">
    <table class="ui selectable celled mini table">
        <thead>
            <tr>
                <th colspan="5" class="right aligned">
                    <button class="ui tiny compact button select all" data-select-type="all" title="Select all" type="button">
                        All
                    </button>
                    <button class="ui tiny compact button select none" data-select-type="none" title="Deselect all" type="button">
                        None
                    </button>
                    <button class="ui tiny compact button select inverse" data-select-type="inverse" title="Invert selection" type="button">
                        Invert
                    </button>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="ui fitted checkbox">
                        <input class="selector main" type="checkbox" data-main-selector-id="0"><label></label>
                    </div>
                </th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% for p in @purchases
                m = p.menu
            %>
                <tr>
                    <td class="collapsing">
                        <div class="ui fitted checkbox">
                            <input class="selector" value="<%= m.id %>" type="checkbox" data-selector-id="0"><label></label>
                        </div>
                    </td>
                    <td>
                        <h6 class="ui image header">
                            <img src="/images/avatar2/small/lindsay.png" class="ui mini rounded image">
                            <div class="content">
                                <%= link_to(m.name, "#") %>
                            </div>
                            </div>
                        </h6>
                    </td>
                    <td>&#x20B1;<%= number_with_precision(p.price, precision: 2) %></td>
                    <td><%= p.quantity %></td>
                    <td>&#x20B1;<%= number_with_precision(p.final_total, precision: 2) %></td>
                </tr>
            <% end %>
            <% if @purchases.length == 0 %>
                <tr><td colspan="5" class="center aligned">No entry</td></tr>
            <% end %>
        </tbody>
        <% if @purchases.total_pages > 1 %>
            <tfoot>
                <tr>
                    <th colspan="4" class="center aligned">
                        <%= render("partials/pagination", page: @purchases.current_page, pages: @purchases.total_pages, count: @purchases.size, size: "mini") %>
                    </th>
                </tr>
            </tfoot>
        <% end %>
    </table>
</div>