<% provide(:title, "Kiosks") %>
<%
    if @customer && @client
        subtitle = "Manage your kiosks and view the other available kiosks."
    elsif @client
        subtitle = "Manage your kiosks."
    elsif @customer
        subtitle = "The available kiosks in your area."
    end
%>
<%= render("partials/page_header", title: "Kiosks", subtitle: subtitle) %>
<div class="ui divider"></div>
<% if @client %>
    <%= form_with(
        model: @kiosk,
        id: "kiosk-form",
        class: "ui form",
        url: create_kiosk_path()
    ) do |form| %>
        <div class="field">
            <%= form.label(:name, "Name") %>
            <div class="ui left icon input">
                <%= form.text_field(:name, value: nil) %>
                <i class="tag icon"></i>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="two fields">
            <div class="field">
                <%= form.label(:email) %>
                <div class="ui left icon input">
                    <%= form.email_field(:email) %>
                    <i class="at icon"></i>
                </div>
            </div>
            <div class="field">
                <%= form.label(:mobile_number, "Mobile Number") %>
                <%= form.text_field(:mobile_number, value: nil) %>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="two fields">
            <div class="field">
                <%= form.label(:region) %>
                <div id="region" class="ui selection dropdown">
                    <%= form.hidden_field(:region) %>
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                    </div>
                </div>
            </div>
            <div class="field">
                <%= form.label(:province) %>
                <div id="province" class="ui selection dropdown">
                    <%= form.hidden_field(:province) %>
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <%= form.label(:city) %>
                <div id="city" class="ui selection dropdown">
                    <%= form.hidden_field(:city) %>
                    <i class="dropdown icon"></i>
                    <div class="default text"></div>
                    <div class="menu">
                    </div>
                </div>
            </div>
            <div class="field">
                <%= form.label(:barangay) %>
                <%= form.text_field(:barangay, value: nil) %>
            </div>
        </div>
        <div class="field">
            <%= form.label(:street) %>
            <div class="ui left icon input">
                <%= form.text_field(:street, value: nil) %>
                <i class="marker icon"></i>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <%= form.label(:description) %>
            <%= form.text_area(:description, rows: 3, value: nil) %>
        </div>
        <div class="field">
            <%= form.label(:images) %>
            <%= form.file_field(:images, multiple: true, class: "image-upload", accept: $VALID_IMAGE_UPLOAD) %>
        </div>
        <%= render("partials/image_preview") %>
        <div class="ui right aligned fitted basic segment">
            <%= form.submit("Register", class: "ui green button") %>
        </div>
    <% end %>

    <div class="ui divider"></div>
<% end %>

<%= hidden_field_tag(:selected, "") %>
<table class="ui selectable celled mini table">
    <thead>
        <% if @client %>
            <tr>
                <th colspan="4" class="right aligned">
                    <button class="ui tiny compact button select all" data-select-type="all" title="Select all" type="button">
                        All
                    </button>
                    <button class="ui tiny compact button select none" data-select-type="none" title="Deselect all" type="button">
                        None
                    </button>
                    <button class="ui tiny compact button select inverse" data-select-type="inverse" title="Invert selection" type="button">
                        Invert
                    </button>
                    <% if false %>
                        <a href="#" class="ui tiny compact icon button" title="View selected">
                            <i class="eye icon"></i>
                        </a>
                        <a href="#" class="ui tiny compact icon button" title="Edit selected">
                            <i class="edit icon"></i>
                        </a>
                        <a href="#" class="ui tiny compact icon button" title="Delete selected">
                            <i class="trash alternate icon"></i>
                        </a>
                    <% end %>
                </th>
            </tr>
        <% end %>
        <tr>
            <% if @client %>
                <th>
                    <div class="ui fitted checkbox">
                        <input class="selector main" type="checkbox" data-main-selector-id="0"><label></label>
                    </div>
                </th>
            <% end %>
            <th>Name</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% for k in @kiosks %>
            <tr>
                <% if @client %>
                    <td class="collapsing">
                        <div class="ui fitted checkbox">
                            <input class="selector" value="1" type="checkbox" data-selector-id="0"><label></label>
                        </div>
                    </td>
                <% end %>
                <td>
                    <h6 class="ui image header">
                        <img src="/images/avatar2/small/lindsay.png" class="ui mini rounded image">
                        <div class="content">
                            <%= link_to(k.name, show_kiosk_path(k.id)) %>
                        </div>
                        </div>
                    </h6>
                </td>
                <td><%= k.address.city + ", " + k.address.province %></td>
                <td><%= "" %></td>
            </tr>
        <% end %>
        <% if @kiosks.length == 0 %>
            <tr><td colspan="<%= @client ? 4 : 3 %>" class="center aligned">No entry</td></tr>
        <% end %>
    </tbody>
    <% if @kiosks.total_pages > 1 %>
        <tfoot>
            <tr>
                <th colspan="4" class="center aligned">
                    <%= render("partials/pagination", page: @kiosks.current_page, pages: @kiosks.total_pages, count: @kiosks.size, size: "mini") %>
                </th>
            </tr>
        </tfoot>
    <% end %>
</table>
